<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <img src="../../../../assets//img//logo01.png" alt="App Conecta RV" style="height: 80px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home-gastronomia">Gastronomia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home-comercio">Comércio/Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/trocas-doacoes">Trocas e Doações</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
                <button class="btn btn-orange-gradient" type="submit">Pesquisa</button>
            </form>
        </div>        
    </div>
</nav>

