<app-header></app-header>

<br><br><br><br><br>




  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Gastronomia no Bairro</h2>

    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <!-- Categoria de Restaurantes -->
        <div class="col d-flex align-items-start">
          <i class="fa fa-utensils text-body-secondary flex-shrink-0 me-3" aria-hidden="true"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Restaurantes</h3>
            <p>Descubra os melhores sabores e ambientes para uma refeição memorável.</p>
          </div>
        </div>
        <!-- Categoria de Cafés e Padarias -->
        <div class="col d-flex align-items-start">
          <i class="fa fa-coffee text-body-secondary flex-shrink-0 me-3" aria-hidden="true"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cafés e Padarias</h3>
            <p>Relaxe com um café ou delicie-se com pães e doces frescos.</p>
          </div>
        </div>
        <!-- Categoria de Fast Food -->
        <div class="col d-flex align-items-start">
          <i class="fa fa-hamburger text-body-secondary flex-shrink-0 me-3" aria-hidden="true"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Lancherias</h3>
            <p>Peça refeições rápidas e deliciosas, ideais para um dia agitado.</p>
          </div>
        </div>
      
      
        <!-- Categoria de Bares e Pubs -->
        <div class="col d-flex align-items-start">
          <i class="fa fa-beer text-body-secondary flex-shrink-0 me-3" aria-hidden="true"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Bares e Pubs</h3>
            <p>Encontre o local ideal para drinks e um bom papo com amigos.</p>
          </div>
        </div>
      </div>
    </div>  
  
    
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
  
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://www.culinarea.com.br/uploads/images/2018/05/minas-gerais-e-palco-de-inumeros-eventos-1525364213.jpg');
        background-size: cover;
        background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">As Melhores Refeiçoes do Bairro</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
          style="background-image: url('https://www.shankminds.com/wp-content/uploads/2019/07/Depositphotos_3155980_l-2015.jpg');
                 background-size: cover;
                 background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> Os Melhores Lanches do Rio Vermelho</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Rio Vermelho</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
          style="background-image: url('https://wallpapertag.com/wallpaper/full/6/5/7/854832-best-cheeseburger-wallpaper-2800x1860-for-iphone-5s.jpg');
                 background-size: cover;
                 background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Melhores Lanches do Rio Vermelho</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Rio Vermelho</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>

      <div class="b-example-divider"></div>

  



    